<div class="body">
  <div class="login">
    <img id="imagen-login" src="../../../assets/img/man.png" />
    <!--https://www.flaticon.com/    ***Download imagen-->
    <h1>Login</h1>

    <mat-form-field class="input-login" appearance="fill" auto>
      <mat-label>Usuary</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>

    <mat-form-field class="input-login" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="off">
    </mat-form-field>

    <br>
    <button mat-flat-button color="primary">Primary</button>

</div>
